<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Resources -->
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script language="javascript" src="/js/graphesun.js" ></script>


    <title>SUNSHARE</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="chartdiv"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="chartdiv"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="chartdiv"></div>
        </div>
    </div>
</div>
<div id="chartdiv"></div>

<!--<script src="https://www.amcharts.com/lib/4/core.js"></script>-->
<!--<script src="https://www.amcharts.com/lib/4/charts.js"></script>-->
<!--<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>-->
<!--<script language="javascript" src="/js/graphesun.js" ></script>-->
</body>
</html>
