<!DOCTYPE html>
<html>
<head>
  <title>Equipe sunShare</title>
  <link href="css/all.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  <style type="text/css">
    #tabScore {
      font-size: 24px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      SunShare
    </a>
  </nav>
  <div class="container">
    <div class="row" style="margin-top:40px;">
      <div class="col-sm-6">
        <table id="tabScore" class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mickael</td>
              <td><span style="color:green"><i class="far fa-grin fa-2x"></i></span></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Amadou</td>
              <td><span style="color:green"><i class="far fa-grin fa-2x"></i></span></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Romuald</td>
              <td><span style="color:green"><i class="far fa-grin fa-2x"></i></span></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Floran</td>
              <td><span style="color:orange"><i class="far fa-meh fa-2x"></i></span></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Vincent</td>
              <td><span style="color:orange"><i class="far fa-meh fa-2x"></i></span></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Erwan</td>
              <td><span style="color:red"><i class="far fa-frown fa-2x"></i></span></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Manuel</td>
              <td><span style="color:red"><i class="far fa-frown fa-2x"></i></span></td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="col-sm-6">
        <div class="card text-white bg-info">
          <div class="card-body">
            <h1 style="float:right"><span class="badge badge-success">1024 pts</span></h1>
            <p class="card-text">Membre : Romuald</p>
            <p class="card-text">Inscrit le : 09/07/2019</p>
            <p class="card-text">Consommation : 78%</p>
            <p class="card-text">Tendance : Stable</p>
            <button type="button" class="btn btn-secondary" style="margin-right: 10px;">Tableaux de bord</button><button type="button" class="btn btn-secondary">Mes équipements</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
